{% extends '::base.html.twig' %}

{% block body %}
    <!--include tarif -->
<div id="corps" style="""text-align:center">


      {% include "AppBundle:Default:layout/tarifs.html.twig" %}

</div>
    {% endblock %}


